@page "{restaurantID:int}"
@model OdeToFood.Pages.Restaurants.DetailsModel
@{
}

@if (Model.Message != null)
{
    <div class="alert alert-info">
        <h2 class="alert-heading">Info</h2>
        <p>@Model.Message</p>
    </div>
}

<h1>Editing @Model.Restaurant.Name</h1>

<input type="hidden" asp-for="Restaurant.Id" />
<div class="mb-4">
    <label asp-for="Restaurant.Name"></label>
    <p>
        @Model.Restaurant.Name
    </p>
</div>
<div class="mb-4">
    <label asp-for="Restaurant.Location"></label>
    <p>
        @Model.Restaurant.Location
    </p>
</div>
<div class="mb-4">
    <label asp-for="Restaurant.Cuisine"></label>
    <p>
        @Model.Restaurant.Cuisine
    </p>
</div>

<a class="btn btn-outline-primary btn-sm" href="/Restaurants/List">Return to list view</a>